<head>
  <meta charset="utf-8">
  <title>Pizza
  </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<ul>
  <% @ingredients.each do |ingr| %>
    <li><%= ingr %></li>
  <% end %>
</ul>
<img src="/perritos.jpg"
    alt="A very cool image">
</body>
