<!DOCTYPE html>
<html>
<head>
  <title>Multiply</title>
  <link rel="stylesheet" type="text/css" href="/main.css"
</head>
<body>
  <h1>Multiply</h1>
  <h4>Make some calculations</h4>
  <form method="POST" action="/calculate_multiply"
    <label>First Number</label>
    <input type="number" name="first_number" placeholder="type first number"></input>
    <label>Second Number</label>
    <input type="number" name="second_number" placeholder="type second number"></input>
    <button type="submit">Multiply</button>
  </form>
</body>
</html
