<!DOCTYPE html>
<html>
<head>
  <title>New task</title>
  <link rel="stylesheet" type="text/css" href="/main.css"
</head>
<body>
  <h1>Add new task</h1>
  <form method="POST" action="/create_task">
    <input type="text" name="content" placeholder="type the content"></input>
    <button type="submit">Add</button>
  </form>
</body>
</html
