  .container {

/*    width: 80%;*/
/*    width: 200px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    margin: auto;*/
/*    height: 50px;*/

/*    width: 300px;*/
    border: 1px solid red;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
/*    align-items: center;*/
    background: #0A77E9;
  }

  .item{
    color: white;
    font-family: sans-serif;
    background: #0A77E9;
    width: 300px;
    padding: 10px 15px;
    height: 30px;
  }


  .item1{
    background: black;
  }

  .item2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }






