<p>Total word count: <%= @word_count %></p>
<p>Original text: <%= @text %></p>
<p>Amount of seconds of reading time for the original text: <%= @seconds %></p>
<p>The 10 words that appear the most are: <%= @words %></p>
<a href ="/">Home</a>
